<div class="nav--bar"> 
    <app-nav />
 </div>
<h1 style="-webkit-text-fill-color: #afdad4;">count value {{count}}</h1>
<button (click)="incre()">+</button> &nbsp;
<button (click)="decr()">-</button> &nbsp;
<br /> <br />
<button (click)="OnCounter()">Thodavum</button>
<br /> <br />
<form>
    <input type="text" name="name" placeholder="Enter your name">
</form>
<div class="submit--btn">
    <button (click)="OnSubmit()">Submit</button>
</div>
<br>
<button (click)="isVisible = !isVisible">Toggle Text</button>
<p *ngIf="isVisible">This text is conditionally visible.</p>
<!-- <p>this is your name   </p> -->
<div class="for--item-loop" *ngFor="let item of summa">
    <p>Number :{{item}} : Come Hear</p>
</div>
<div class="stylr--dot">
    <app-exa [main]="main"></app-exa>
</div>
 