<button class="unique-btn" onclick="confirm('Are you sure?')">Confirm Btn</button>
<button class="unique-btn" onclick="alert('Done')">Done</button>
<button class="unique-btn" (click)="onClick1()">Click Hear</button>
<!-- <form>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter your name">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email">
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" placeholder="Enter your message"></textarea>
    </div>
    <div>
      <button type="submit" class="unique-btn">Submit</button>
    </div>
  </form> -->
  <h1> {{ name }} </h1>
  <h2>{{main?.name}}</h2>