<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<header class="container">
  <ul class="nav-links">
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['prodects']">Prodects</a></li>
    <li><a [routerLink]="['about']">About</a></li>
    <li><a [routerLink]="['services']">Services</a></li>
    <li><a [routerLink]="['contacts']">Contact</a></li>
    <li><a [routerLink]="['login']">Login</a></li>
  </ul>
</header>
<app-nav></app-nav>
<router-outlet> </router-outlet>
<app-counter></app-counter>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<footer class="footer-app">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="logo" src="/Users/futurestacks/Desktop/Parthiban Murugan/Angular/simple/src/assets/logo.png"></div>
        <p class="tagline">Innovative solutions for modern businesses</p>
        <div class="social-links">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-links">
        <div class="link-group">
          <h3 class="link-title">Company</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>

        <div class="link-group">
          <h3 class="link-title">Products</h3>
          <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>

        <div class="link-group">
          <h3 class="link-title">Support</h3>
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">API Docs</a></li>
            <li><a href="#">System Status</a></li>
          </ul>
        </div>

       
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        &copy; 2023 YourCompany. All rights reserved.
      </div>
      <div class="footer-cta">
        <button class="back-to-top">
          <i class="fas fa-arrow-up"></i> Back to Top
        </button>
      </div>
    </div>
  </div>
</footer>
<br>
